@import "fonts"
@import "libs"
@import "vars"
@import "media"
// @import "media-queries"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #999
	opacity: 1

*:-moz-placeholder
	color: #999
	opacity: 1

*::-moz-placeholder
	color: #999
	opacity: 1

*:-ms-input-placeholder
	color: #999
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #777
body input:required:valid,
body textarea:required:valid
	color: #777

html, body
	height: 100%

html
  font-size: 10px

body
  font-size: 1.6rem
  line-height: 2
  overflow-x: hidden
  background-color: #fff
  position: relative
  color: $text
  font-family: $default-font
  a
    text-decoration: none
    &:hover
      text-decoration: none

  img
    max-width: 100%
    height: auto

.top-screen
	height: 93rem
	background-image: linear-gradient(to right,rgba(64,23,157,.4),rgba(234,76,88,.4)), url(../img/bride-couple.jpg)
	background-size: cover
	background-repeat: no-repeat
	background-position: 0 0, 50% 30%
	display: flex
	flex-direction: column
	justify-content: flex-start
	@include md
		background-position: 0 0, 40% 30%

.header-pm
  padding: 2.1rem 0 3.4rem
  transition: 0.3s ease

.logo
  display: inline-block
  @include md
    margin-bottom: 0
  @include sm
    max-width: 180px

.btn-call,
.btn-custom.btn-apply-mobile
	display: none

.header-pm.fixed
		padding: 15px 0
		position: fixed
		left: 0
		top: 0
		z-index: 10
		background-color: #fff
		box-shadow: 0 2px 15px rgba(0,0,0,.15)
		width: 100%
		color: #000
    transition: 0.3s ease
		.phones
			a
				color: #000
		.btn-white
			color: #000
			border-color: #000
		.main-logo
			display: none
		.small-logo
			display: block
			margin: 0 15px
		.header-inner
			align-items: center
		.header-contacts .btn-custom
			display: inline-block
			//работает в большем размере//////////////////////////////////////
    @include sm
			.logo
				margin: 0
			.btn-apply
				display: block
			.logo-wrap
				display: flex
				align-items: center
				justify-content: space-between
			.btn-call
				display: inline-block
				width: 38px
				height: 38px
				display: flex
				align-items: center
				justify-content: center
				border: 1px solid rgba(0,0,0,.6)
				border-radius: 6px
				&:hover
					text-decoration: none
				i
					color: #000
			.header-contcts_right
				display: none
			.btn-apply-mobile
				display: inline-block
				font-size: 14px
				padding: 11px
				min-width: 68px

.container
  width: 100%
  max-width: 114rem
  padding: 0 1.5rem
  margin-right: auto
  margin-left: auto

.header-inner
  display: flex
  justify-content: space-between
  flex-wrap: wrap

.header-contacts-right
	display: flex
	justify-content: flex-end
	align-items: flex-start
	// max-width: 550px
	// padding-top: 10px
	.btn-custom
		display: none
	@include md
		padding: 0
		padding-top: 25px
		justify-content: space-between
		.phone,
		.btn-white
			margin: 0
			margin-right: 15px
	 @include sm
		.phone
			font-size: 15px
		.btn-white
			padding: 10px 5px 8px
			font-size: 13px
			margin-right: 0

.header-contacts
	padding-top: 10px
	align-items: center
	justify-content: flex-end
	max-width: 550px
	@include md
		padding: 0
		padding-top: 25px
		justify-content: space-between
		.phones,
		.btn-white
			margin: 0
			margin-right: 15px
	@include sm
		.phone
			font-size: 15px
		.btn-white
			padding: 10px 5px 8px
			font-size: 13px
			margin-right: 0
		.btn-custom
			display: none
	@include md
		margin: 0 auto

.logo-wrap
  text-align: center
  width: 100%

.logo
  display: inline-block
  .small-logo
    display: none
.phones
  display: flex
  flex-direction: column
  margin-right: 2.4rem
  a
    display: block
    font-size: 1.6rem
    line-height: 2.5rem
    padding-left: 1.4rem
    position: relative
    color: #fff
    &:before
      content: ''
      position: absolute
      left: 0
      top: 50%
      transform: translateY(-50%)
      width: 0.5rem
      height: 0.5rem
      background-color: $accent

.btn-white
  	display: inline-block
  	background-color: transparent
  	color: #fff
  	border: 2px solid #fff
  	border-radius: 6px
  	font-family: $default-font
  	font-size: 14px
  	line-height: 16px
  	text-transform: uppercase
  	padding: 10px 16px 8px
  	cursor: pointer
  	text-decoration: none
  	text-align: center
  	margin-right: 38px
  	transition: all .15s
  	&:hover
  		background-color: #fff
  		color: $accent
  		outline: none
  		text-decoration: none
  	&:focus
  		outline: none

.top-screen_content
	margin-bottom: 8.5rem
	h1
		display: block
		color: #fff
		font-family: $headers-font
		font-size: 72px
		line-height: 72px
		padding-top: 23px
		margin-bottom: 20px
		text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2)
		@include xl
			font-size: 57px
			line-height: 60px
		@include md
			font-size: 46px
			line-height: 47px
		@include sm
			display: block
			text-align: center
			font-size: 36px
			line-height: 38px

	h2
		display: block
		color: #fff
		font-size: 22px
		line-height: 28px
		margin-bottom: 25px
		@include sm
			display: block
			text-align: center
			font-size: 16px
			line-height: 28px

	@include md
		text-align: center
		margin-bottom: 119px
.btn-custom
	display: inline-block
	background-color: $accent
	color: #fff
	border: none
	border-radius: 6px
	font-family: $headers-font
	font-size: 14px
	line-height: 16px
	text-transform: uppercase
	padding: 12px 16px 10px
	cursor: pointer
	text-decoration: none
	text-align: center
	min-width: 130px
	transition: all .15s
	outline: none
	&:hover
		text-decoration: none
		background-color: #fc5461
		outline: none
		color: #fff
	&:focus
		background-color: #d74853
		outline: none
	&.reverse
		display: block
		background-color: transparent
		border: 2px solid #ea4c58
		text-transform: capitalize
		color: #ea4c58
		font-family: $headers-font
		max-width: 252px
		width: 100%
		font-size: 16px
		line-height: 18px
		padding: 19px
		margin: 0 auto
	i
		display: none
		font-size: 17px
		line-height: 19px
		margin-right: 7px
	&.active
		cursor: default
		pointer-events: none
		i
			display: inline-block


.btn-big
  font-family: robotoSlab-bold,Helvetica,Arial,sans-serif
  font-size: 19px
  line-height: 21px
  padding: 17px 15px 21px
  min-width: 252px

.btn-video
	@include md
		margin-bottom: 6rem

// .btn-apply-mobile
// 	display: none

.top-screen_form
  background-color: rgba(255,255,255,.9)
  border-radius: 6px
  padding: 31px 30px 19px
  max-width: 420px
  width: 100%
  margin: 0 auto
  @include md
		margin: 0 auto 17px

.top-screen_form-title
  padding-bottom: 3rem
  position: relative
  font-size: 21px
  font-family: robotoSlab-bold,Helvetica,Arial,sans-serif
  text-align: center
  display: block
  color: $text
  border-bottom: 2px solid rgba(234,76,88,0.4)
  margin-bottom: 21px

.top-error-field
  display: block
  text-align: center
  font-size: 12px
  line-height: 14px
  margin-bottom: 10px
  color: $accent

.servise-form_field-row
	margin-bottom: 1rem
	&:last-child
		margin-bottom: 0

.servise-form_field
  display: block
  background-color: #fff
  width: 100%
  border: 1px solid #d4d4cf
  border-radius: 6px
  padding: 12px 14px 10px 14px
  font-size: 14px
  transition: all .15s

.btn-form
  width: 100%
  padding: 16px 14px 16px 14px
  margin-top: 14px
  margin-bottom: 10px
  font-family: robotoSlab-bold,Helvetica,Arial,sans-serif
  font-size: 16px
  line-height: 18px

.form-subhead
  display: block
  text-align: center
  color: #333
  font-size: 1.4rem
  line-height: 3rem
  margin: 0
  font-family: $default-font,Helvetica,Arial,sans-serif

.tours-top_form
	background-color: rgba(255,255,255,.9)
	border-radius: 6px
	padding: 31px 30px 19px
	max-width: 420px
	width: 100%
	margin: 0 auto
	@include md
		margin: 0 auto 17px

.tours-top_form-title
	padding-bottom: 43px
	position: relative
	font-size: 21px
	font-family: $headers-font
	text-align: center
	display: block
	color: $text
	margin-bottom: 21px
	&:after
		content: ''
		position: absolute
		left: 50%
		bottom: 0
		transform: translateX(-50%)
		background-image: url('../img/title-bg.png')
		background-repeat: no-repeat
		background-size: contain
		background-position: 50% 0
		width: 100%
		height: 25px

.tours-top_form-subtitle
	display: block
	font-size: 14px
	line-height: 24px
	font-family: $default-font
	text-align: center
	margin-bottom: 24px
//не работает падинг
.tours-form_field-row
	margin-bottom: 10px
	// &:last-child
	// 	margin-bottom: 0

.top-error-field,
.error-field,
.price-error-field,
.apply-error-field
	display: block
	text-align: center
	font-size: 12px
	line-height: 14px
	margin-bottom: 10px
	color: $accent

.form-select
	position: relative
	select
		outline: none
		cursor: pointer
		&:focus
			outline: none
	&:after
		content: ''
		position: absolute
		right: 12px
		top: 50%
		transform: translateY(-50%)
		width: 0
		height: 0
		border-left: 4px solid transparent
		border-right: 4px solid transparent
		border-top: 5px solid #000

.tours-form_field,
select.tours-form_field
	display: block
	background-color: #fff
	width: 100%
	border: 1px solid #d4d4cf
	border-radius: 6px
	padding: 12px 14px 10px 14px
	font-size: 14px
	transition: all .15s
	&:focus
		outline: none
		border-color: #80807d

input.tours-form_field,
select.tours-form_field,
	appearance: none

.btn-form
	width: 100%
	padding: 16px 14px 16px 14px
	margin-top: 14px
	margin-bottom: 10px
	font-family: $headers-font
	font-size: 16px
	line-height: 18px

.form-subhead
	display: block
	text-align: center
	color: #333
	font-size: 14px
	line-height: 30px
	margin: 0
	font-family: $default-font


.matchmaking-about
  padding: 10rem 0

.section-header
  font-family: $headers-font
  color: $accent
  font-size: 3rem
  padding-bottom: 5rem
  text-transform: uppercase
  letter-spacing: 0.2rem
  @include md
		font-size: 24px
		margin-bottom: 44px


.matchmaking-text
  p
    padding-bottom: 5rem

.left-column
  &:before
    content: ''
    border: 3px solid #fd8891
    border-radius: 7px
    height: 330px
    width: 85%
    position: absolute
    left: 10%
    top: 60%
    height: 420px
    z-index: 2

.link-call
  font-size: 1.8rem
  color: $text
  text-decoration: underline
  cursor: pointer


.matchmaking-picture
  width: 100%
  height: 420px
  border-radius: 7px
  position: relative
  margin: 0 auto
  overflow: hidden
  left: -20%
  z-index: 0
  img
    position: absolute
    width: auto
    height: 100%
    margin: 0 auto
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)

.matchmaking-text_video
  width: 100%
  height: 30rem
  margin-bottom: 6rem

.link-contact
  color: $accent
  text-decoration: underline
  cursor: pointer

.programs-header
  background: linear-gradient(to right,rgba(64,23,157,.9),rgba(234,76,88,.9))
  padding: 6.8rem 0
  .section-header
    color: #fff
  p
    color: #fff
  .link-call
    color: #fff
    // padding-top: 5rem

.right-column
  p
    padding-bottom: 5rem

.programs-main
  padding: 6.2rem 0
  text-align: center

.program-item
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  margin-bottom: 12rem
  border-right: 2px solid rgba($accent, .4)
  .fa-angle-down
    transition: 0.5s ease

.one-program-header_red-font
  width: 31rem
  border: 4px solid $accent
  border-radius: 24px
  padding: 0rem 0.4rem
  margin-bottom: 3rem
  display: flex
  align-items: center
  justify-content: center
  h4
    font-size: 1.8rem
    font-family: $headers-font
    color: $accent
    width: 90%
    text-align: center
  i
    color: $accent
    font-size: 2rem

.one-program-header_white-font
  width: 31rem
  background-color: $accent
  border-radius: 24px
  padding: 0.4rem 0.8rem
  margin-bottom: 3rem
  display: flex
  align-items: center
  justify-content: center
  h4
    font-size: 1.8rem
    font-family: $headers-font
    color: #fff
    width: 90%
    text-align: center
  i
    color: #fff
    font-size: 2rem

.one-program-header_gradient
  width: 32rem
  background: linear-gradient(to right,rgba(64,23,157,.9),rgba(234,76,88,.9))
  border-radius: 24px
  padding: 0.4rem 0.8rem
  margin-bottom: 3rem
  display: flex
  align-items: center
  justify-content: center
  h4
    font-size: 1.8rem
    font-family: $headers-font
    color: #fff
    width: 90%
    text-align: center
  i
    color: #fff
    font-size: 2rem

.program-content-wrapper
  max-height: 16rem
  overflow: hidden
  position: relative
  transition: max-height 0.5s ease
  a
    color: $accent
    cursor: pointer

  .light-overlay
    background: linear-gradient(to top,rgba(255,255,255,1),rgba(255,255,255,0))
    position: absolute
    z-index: 2
    width: 100%
    height: 100%
    margin: 0 auto
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    transition: 0.5s ease-in

  .step
    color: $accent
    font-family: $headers-font
    padding-right: 1rem
  i
    color: $accent
    font-size: 2rem

.program-item.active
  .fa-angle-down
    // display: none
    transition: 0.5s ease
    transform: rotate(180deg)
  // .fa-angle-up
  //   display: block
  //   transition: 0.5s ease
  .program-content-wrapper
    max-height: 60rem
    transition: max-height 0.5s ease
    .light-overlay
      opacity: 0
      transition: 0.5s ease-out


.btn-choose
  margin-top: 3.4rem
  font-size: 1.6rem
  font-family: $headers-font
  color: $accent
  text-transform: uppercase
  border: 2px solid $accent
  border-radius: 24px
  padding: 0rem 1rem
  background-color: #fff

.btn-choose.active
  background-color: $accent
  color: #fff
  transition: 0.5s ease-out



.adwantages
  background-image: linear-gradient(to right,rgba(64,23,157,.6),rgba(234,76,88,.6)), url(../img/adult-affection-beard.jpg)
  background-size: cover
  background-repeat: no-repeat
  background-position: top
  display: flex
  padding: 6.8rem 0
  color: #fff
  .section-header
    color: #fff
  // p
  //   color: #fff

.adwantages-content
  // margin-bottom: 5rem
.adwantages-arrow
  position: absolute
  top: 50%
  transform: translateY(-50%)
  background-color: transparent
  border: none
  font-size: 35px
  opacity: 0.8
  cursor: pointer
  outline: none
  z-index: 10
  i
    color: #fff
  &:hover
    opacity: 1
  &:focus
    outline: none
  &.left-arrow
    left: -70px
  &.right-arrow
    right: -70px



.adwantage-item
  text-align: center
  display: flex
  flex-direction: column
  // justify-content: center
  align-items: center
  .adw-header
    font-family: $headers-font
    font-size: 1.8rem
    padding-bottom: 3rem

.adw-image
  width: 9rem
  height: 9rem
  margin-bottom: 3rem

.download-link
  padding: 5rem 0 0
  display: flex
  justify-content: center



.ladies-video
	padding: 160px 0 130px
	@include md
		padding: 50px 0

.ladies-video_slider
	margin-bottom: 60px

.ladies-video_slider-item
	padding: 0 15px

.ladies-video_img
	max-width: 350px
	width: 100%
	height: 190px
	position: relative
	overflow: hidden
	margin: 0 auto
	img
		position: absolute
		height: 100%
		width: auto
		left: 50%
		top: 50%
		transform: translate(-50%,-50%)

.tours-video_info
	position: absolute
	left: 10px
	bottom: 10px
	background-color: $accent
	padding: 7px 10px
	font-size: 12px
	color: #fff
	border-radius: 6px
	font-family: $headers-font
	z-index: 5
	display: flex
	span
		position: relative
		display: flex
		align-items: center
		&:after
			content: ''
			width: 5px
			height: 5px
			background-color: rgba(255,255,255,.8)
			margin: 2px 5px 0
			display: inline-block

.tours-video_time
	position: absolute
	right: 10px
	bottom: 10px
	font-size: 12px
	color: #fff
	border-radius: 6px
	font-family: $headers-font
	background-color: #000
	padding: 5px 7px

.ladies-video_arrow
	position: absolute
	top: 50%
	transform: translateY(-50%)
	background-color: transparent
	border: none
	font-size: 35px
	opacity: 0.8
	cursor: pointer
	outline: none
	z-index: 10
	i
		color: $accent
	&:hover
		opacity: 1
	&:focus
		outline: none
	&.left-arrow
		left: -70px
	&.right-arrow
		right: -70px
	@include md
		&.left-arrow
			left: -15px
		&.right-arrow
			right: -15px


.contact-form_wrap
	background-color: #f8f8f8
	// background-image: url('../img/lp_tours/profile-bg.png')
	background-repeat: repeat-x
	background-position: 0 0
	padding-top: 85px
	padding-bottom: 150px

  display: flex
  justify-content: center
  align-content: center
	@include md
		padding: 50px 0
/* contact us styles section */

.section-title_line
  position: relative
  font-size: 34px
  font-family: $headers-font
  text-align: center
  display: block
  color: $text
  margin-bottom: 55px
  padding-bottom: 49px
  border-bottom: 2px solid rgba(234,76,88,.4)
  @include md
    font-size: 24px
    margin-bottom: 44px

.contact
	padding-top: 60px

.contact-subheading
	display: block
	text-align: center
	font-family: $default-font
	color: #292827
	font-size: 18px
	line-height: 28px
	width: 60%
	margin: 0 auto 120px

.contact-form_hold
	margin-bottom: 115px

.contact-form
	padding: 50px 55px
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.15)
	background-color: #fff
	@include md
		padding: 50px 15px

.form-input
	font-size: 16px
	line-height: 30px
	padding: 0 10px
	font-family: $default-font
	margin-bottom: 30px
	border: none
	border-bottom: 1px solid rgba(0, 0, 0, 0.3)
	width: 100%
	outline: none
	position: relative
	border-radius: 0

textarea.form-input
	resize: none
	max-height: 100px

.form-input:focus
	color: 1px solid rgba(0, 0, 0, 0.9)
	border-bottom: 1px solid rgba(0, 0, 0, 0.5)

.form-row_hold
	position: relative

.form-row_hold .error-message
	content: ''
	width: 100%
	height: 20px
	bottom: 10px
	left: 0
	right: 0
	position: absolute
	display: block
	font-size: 12px
	line-height: 14px
	color: red
	z-index: 100
	display: flex
	justify-content: center
	align-items: center

.form-row_hold .error-message:empty
	display: none

.form-input.error
	border-bottom-color: #ea4c58
	color: #ea4c58

.form-subtitle
	color: #717171
	font-family: $default-font
	font-size: 16px
	line-height: 18px
	margin-top: 35px
	margin-bottom: 35px
	text-align: center
	letter-spacing: 0.7px

.checkbox-holder
	display: flex
	justify-content: center
	align-items: center
	flex-wrap: wrap
	margin-bottom: 30px

.checkbox-item
	margin: 0 15px
	position: relative
	display: flex
	justify-content: space-between
	align-items: center
	@include md
		margin: 5px 10px

.checkbox-item label
	margin: 0
	font-family: $default-font
	font-size: 14px
	line-height: 16px
	color: #717171
	letter-spacing: 0.7px

.checkbox-item input[type="checkbox"]
	margin: 0

.checkbox-item_hold
	width: 13px
	position: relative
	margin-right: 10px

.check-label
	border: 2px solid #bfbfbf
	width: 13px
	height: 14px
	cursor: pointer
	position: absolute
	top: 50%
	left: 0
	margin: 0
	transform: translateY(-50%)
	@include md
		width: 15px
		height: 16px


.check-label:after
	content: ''
	width: 9px
	height: 5px
	position: absolute
	top: 2px
	left: 1px
	border: 3px solid #44b759
	border-top: none
	border-right: none
	background: transparent
	opacity: 0
	transform: rotate(-45deg)

.check-label:hover::after
	opacity: 0.3

input[type='checkbox']
	visibility: hidden

input[type='checkbox']:checked+label:after
	opacity: 1

.preferred-method
	margin-bottom: 40px

.contact-us-form
	text-align: center

.success
	display: none
	position: absolute
	left: 0
	right: 0
	top: 0
	bottom: 0
	width: 100%
	height: 0
	overflow: hidden
	background: linear-gradient(to bottom, #fdc9c5 0%, #f9b9bf 54%, #f3a2bb 100%) no-repeat 0 0
	z-index: 101
	display: flex
	justify-content: center
	flex-direction: column
	align-items: center
	transition: height .5s

.success p
	display: block
	font-family: $default-font
	color: #fffefe
	font-size: 24px
	line-height: 35px

.success img
	margin-top: 60px

.success.active
	height: 100%

.contact-form
	.btn-custom
		padding: 17px 30px
		max-width: 160px
		width: 100%
		font-size: 16px
		text-transform: none
		font-family: $headers-font

.footer-pm
	background-color: #eee

.footer-copy
	background-color: #000
	p
		display: block
		text-align: center
		color: rgba(255,255,255,.5)
		font-size: 12px
		font-family: $default-font
		padding: 15px
		margin: 0

.footer-phone
	display: inline-block
	color: $accent
	font-size: 24px
	font-family: $headers-font
	&:hover
		text-decoration: none
		color: inherit

.tours-footer_inner
	padding: 40px 0 35px
	display: flex
	align-items: center
	justify-content: space-between
	@include lg
		flex-direction: column
		justify-content: center
		.footer-phone
			margin-bottom: 25px
		.footer-nav
			display: flex
			justify-content: center
			flex-wrap: wrap

.footer-nav
	a
		display: inline-block
		text-decoration: underline
		color: #3f4cae
		font-family: $default-font
		padding: 0 10px
		&:hover
			text-decoration: none


.white-popup
  position: relative
  background: #fff
  padding: 20px
  width: auto
  max-width: 500px
  margin: 20px auto

.custom-popup
	background-color: #fbe7e5
	border: 4px solid #fa8e88
	border-radius: 6px
	form
		background-color: transparent

.datepicker
	z-index: 9999999

/*page preloader*/
.preloader-wrap
	background-color: #fff
	position: fixed
	width: 100%
	height: 100%
	display: flex
	align-items: center
	justify-content: center
	z-index: 1000

.error-message
	display: block
	text-align: center
	color: $red
	font-size: 12px
	line-height: 16px

.spinner
	width: 40px
	height: 40px
	position: relative
	margin: 100px auto

.double-bounce1,
.double-bounce2
	display: block
	width: 100%
	height: 100%
	background-image: url('../img/lp_tours/heart-small.png')
	background-size: contain
	background-position: 0 0
	background-repeat: no-repeat
	background-color: transparent
	opacity: 0.6
	position: absolute
	top: 0
	left: 0
	animation: sk-bounce 2.0s infinite ease-in-out

.double-bounce2
	animation-delay: -1.0s

@keyframes sk-bounce
	0%, 100%
		transform: scale(0.0)
	50%
		transform: scale(1.0)
